@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject IOptions<MapConfiguration> Settings
@inject ILogger<AzureMap> Logger

<div id="@Id" class="@Class" style="@divStyle">
    @if (hasInvalidMessage)
    {
        <p>@validateMessage</p>
        <p>@issuesMessage</p>
    }
</div>

@code {
    private string? divStyle => $"height:{divHeight};width:{divWidth};{Style}";
    private string divHeight => string.IsNullOrWhiteSpace(Height) ? "100%" : Height;
    private string divWidth => string.IsNullOrWhiteSpace(Width) ? "100%" : Width;
    private MapConfiguration settings => Settings.Value;
    private bool hasInvalidMessage => !string.IsNullOrWhiteSpace(validateMessage) || !string.IsNullOrWhiteSpace(issuesMessage);
    private string? validateMessage => settings.IsValid ? "" : $"Invalid settings for the map: {settings.ValidationMessage}";
    private string? issuesMessage;
    private MapContainer? mapContainer;

    #region Parameters

    /// <summary>
    /// Css class for the map container.
    /// </summary>
    [Parameter]
    public string? Class { get; set; }

    /// <summary>
    /// Azure Map controls, i.e. Style, Zoom, etc.
    /// These controls are added when the map is initialized.
    /// You can also add/remove controls manually
    /// any time after OnMapReady is invoked.
    /// </summary>
    [Parameter]
    public IEnumerable<MapControl>? Controls { get; set; }

    /// <summary>
    /// Subscribed Map Events.
    /// </summary>
    [Parameter]
    public IEnumerable<MapEventType>? Events { get; set; }

    /// <summary>
    /// Subscribed Map Events. This has precedence over the Events parameter if both values are set.
    /// </summary>
    [Parameter]
    public IEnumerable<MapEventDef>? EventDefs { get; set; }

    /// <summary>
    /// Css height for the map container.
    /// Appended to the 'Style' parameter.
    /// default 100%
    /// </summary>
    [Parameter]
    public string? Height { get; set; }

    /// <summary>
    /// Map container Id.
    /// </summary>
    [Parameter]
    public string Id { get; set; } = MapExtensions.GetRandomCssId();

    /// <summary>
    /// Override default map options.
    /// </summary>
    [Parameter]
    public MapOptions? Options { get; set; }

    /// <summary>
    /// Css style for the map container.
    /// </summary>
    [Parameter]
    public string? Style { get; set; }

    /// <summary>
    /// Css width for the map container.
    /// Appended to the 'Style' parameter.
    /// default 100%
    /// </summary>
    [Parameter]
    public string? Width { get; set; }

    #endregion

    #region Component

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (!string.IsNullOrWhiteSpace(validateMessage))
            {
                Logger.LogError("Invalid map configuration: {ValidationMessage}", settings.ValidationMessage);
                return;
            }

            if (string.IsNullOrWhiteSpace(Id))
            {
                issuesMessage = "Map Id is missing.";
                Logger.LogError(issuesMessage);
                StateHasChanged();
                return;
            }

            try
            {
                mapContainer = new(JSRuntime, this);
                var mapSettings = new MapConfiguration
                {
                    Authentication = settings.Authentication,
                    Options = Options ?? settings.Options,
                    LogLevel = settings.LogLevel
                };

                if (EventDefs != null)
                {
                    await mapContainer.Factory.CreateMap(
                     mapSettings,
                     EventDefs,
                     Controls);
                }
                else
                {
                    await mapContainer.Factory.CreateMap(
                        mapSettings,
                        Events,
                        Controls);
                }
            }
            catch (Exception ex)
            {
                await OnCreateMapError.InvokeAsync(ex);
                Logger.LogError(ex, "Error creating the map.");
            }
        }
    }

    public async ValueTask DisposeAsync()
    {
        try
        {
            if (mapContainer !=  null)
                await mapContainer.DisposeAsync();
        }
        catch (JSDisconnectedException)
        {
        }
    }

    #endregion

    #region JSInterop

    #region MapReady
    [Parameter]
    public EventCallback<IAzureMapContainer> OnMapReady { get; set; }
    [JSInvokable]
    public async Task NotifyMapReady(MapEventArgs e) => await OnMapReady.InvokeAsync(mapContainer);
    #endregion

    #region MapEventAny
    [Parameter]
    public EventCallback<MapEventArgs> OnMapEventAny { get; set; }
    #endregion

    [Parameter]
    public EventCallback<Exception> OnCreateMapError { get; set; }

    [Parameter]
    public EventCallback<MapEventArgs> OnMapEvent { get; set; }

    [Parameter]
    public EventCallback<MapEventConfigArgs> OnMapEventConfig { get; set; }

    [Parameter]
    public EventCallback<MapEventDataArgs> OnMapEventData { get; set; }

    [Parameter]
    public EventCallback<MapEventDataSourceArgs> OnMapEventDataSource { get; set; }

    [Parameter]
    public EventCallback<MapEventErrorArgs> OnMapEventError { get; set; }

    [Parameter]
    public EventCallback<MapEventGeneralArgs> OnMapEventGeneral { get; set; }

    [Parameter]
    public EventCallback<MapEventHtmlMarkerArgs> OnMapEventHtmlMarker { get; set; }

    [Parameter]
    public EventCallback<MapEventLayerArgs> OnMapEventLayer { get; set; }

    [Parameter]
    public EventCallback<MapEventMouseArgs> OnMapEventMouse { get; set; }

    [Parameter]
    public EventCallback<MapEventPopupArgs> OnMapEventPopup { get; set; }

    [Parameter]
    public EventCallback<MapEventShapeArgs> OnMapEventShape { get; set; }

    [Parameter]
    public EventCallback<MapEventSourceArgs> OnMapEventSource { get; set; }

    [Parameter]
    public EventCallback<MapEventStyleArgs> OnMapEventStyle { get; set; }

    [Parameter]
    public EventCallback<MapEventTouchArgs> OnMapEventTouch { get; set; }

    [Parameter]
    public EventCallback<MapEventWheelArgs> OnMapEventWheel { get; set; }

    [JSInvokable]
    public async Task NotifyMapEvent(MapEventArgs e) { await OnMapEvent.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventConfig(MapEventConfigArgs e) { await OnMapEventConfig.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventData(MapEventDataArgs e) { await OnMapEventData.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventDataSource(MapEventDataSourceArgs e) { await OnMapEventDataSource.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventError(MapEventErrorArgs e) { await OnMapEventError.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventGeneral(MapEventGeneralArgs e) { await OnMapEvent.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventHtmlMarker(MapEventHtmlMarkerArgs e) { await OnMapEventHtmlMarker.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventLayer(MapEventLayerArgs e) { await OnMapEventLayer.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventMouse(MapEventMouseArgs e) { await OnMapEventMouse.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventPopup(MapEventPopupArgs e) { await OnMapEventPopup.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventShape(MapEventShapeArgs e) { await OnMapEventShape.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventSource(MapEventSourceArgs e) { await OnMapEventSource.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventStyle(MapEventStyleArgs e) { await OnMapEventStyle.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventTouch(MapEventTouchArgs e) { await OnMapEventTouch.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [JSInvokable]
    public async Task NotifyMapEventWheel(MapEventWheelArgs e) { await OnMapEventWheel.InvokeAsync(e); await OnMapEventAny.InvokeAsync(e); }

    [Parameter]
    public EventCallback<GeolocationEventArgs> OnGeolocationWatch { get; set; }

    [JSInvokable]
    public async Task NotifyGeolocationWatch(GeolocationResult e) { await OnGeolocationWatch.InvokeAsync(new GeolocationEventArgs(e)); }
    #endregion
}
