<FluentHeader Style="margin-bottom:5px;">
    @Header
    <FluentSpacer Width="10" />
    <FluentCheckbox @bind-Value="@showNarrativeInternal">@showHideNarrative</FluentCheckbox>
</FluentHeader>

<FluentCard MinimalStyle="true" Height="auto" Style="margin-bottom:5px;">
    <FluentStack Orientation="Orientation.Vertical">
        <div class="@narrativeClass">
            @ChildContent
        </div>
        <FluentStack>
            @{
                if (!string.IsNullOrWhiteSpace(HRefSource))
                {
                    <a href="@HRefSource" target="_blank">@HRefSourceLabel</a>
                }
            }
            @{
                if (!string.IsNullOrWhiteSpace(hRefExample))
                {
                    <a href="@hRefExample" target="_blank">@hRefExampleLabel</a>
                }
            }
            @{
                if (!string.IsNullOrWhiteSpace(hRefDocs))
                {
                    <a href="@hRefDocs" target="_blank">@HRefDocsLabel</a>
                }
            }
        </FluentStack>
    </FluentStack>
</FluentCard>

<style>
    .hidden {
        display: none;
    }
</style>

@code {
    private bool showNarrativeInternal = true;
    private string narrativeClass => showNarrativeInternal ? "" : "hidden";
    private string showHideNarrative => showNarrativeInternal ? "Hide Info" : "Show Info";
    private string? hRefDocs => LayerDef.ToHRefAzureDocs();
    private string? hRefExample => LayerDef?.ToHRefAddLayerExample();
    private string hRefExampleLabel => $"{LayerDef?.Type} Layer Example";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter, EditorRequired]
    public string Header { get; set; }

    [Parameter]
    public string? HRefSource { get; set; }

    [Parameter]
    public string? HRefSourceLabel { get; set; } = "Page Source";

    [Parameter]
    public string? HRefDocsLabel { get; set; } = "Azure SDK Docs";

    [Parameter, EditorRequired]
    public MapLayerDef? LayerDef { get; set; }

    [Parameter]
    public bool? ShowNarrative { get; set; }

    protected override void OnParametersSet()
    {
        if (ShowNarrative.HasValue)
        {
            showNarrativeInternal = ShowNarrative.Value;
        }
    }
}
