<FluentHeader Style="margin-bottom:5px;">
    @Header
    <FluentSpacer Width="10" />
    <FluentCheckbox @bind-Value="@ShowNarrative">@showHideNarrative</FluentCheckbox>
</FluentHeader>

<FluentCard Class="@narrativeClass" MinimalStyle="true" Height="auto" Style="margin-bottom:5px;">
    <FluentStack Orientation="Orientation.Vertical">
        @ChildContent
        <FluentStack>
            @{
                if (!string.IsNullOrWhiteSpace(HRefSource))
                {
                    <a href="@HRefSource" target="_blank">@HRefSourceLabel</a>
                }
            }
            @{
                if (!string.IsNullOrWhiteSpace(HRefExample))
                {
                    <a href="@HRefExample" target="_blank">@HRefExampleLabel</a>
                }
            }
            @{
                if (!string.IsNullOrWhiteSpace(HRefDocs))
                {
                    <a href="@HRefDocs" target="_blank">@HRefDocsLabel</a>
                }
            }
        </FluentStack>
    </FluentStack>
</FluentCard>

<style>
    .hidden {
        display: none;
    }
</style>

@code {
    private string narrativeClass => ShowNarrative ? "" : "hidden";
    private string showHideNarrative => ShowNarrative ? "Hide Info" : "Show Info";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter, EditorRequired]
    public string Header { get; set; }

    [Parameter]
    public string? HRefSource { get; set; }

	[Parameter]
	public string? HRefSourceLabel { get; set; } = "Page Source";

    [Parameter]
    public string? HRefExample { get; set; }

    [Parameter]
    public string? HRefExampleLabel { get; set; } = "Example";

    [Parameter]
    public string? HRefDocs { get; set; }

    [Parameter]
    public string? HRefDocsLabel { get; set; } = "Azure SDK Docs";

    [Parameter]
    public bool ShowNarrative { get; set; } = true;
}
