@implements IDialogContentComponent<HeatMapLayerUIModel>

@if (viewStyle == UIViewStyle.DataGrid)
{
    <FluentTabs>
        <FluentTab Label="Layer">
            <div style="@divValuesStyle">
                <UIValuesGrid Items="@options.ToUIList()" />
            </div>
        </FluentTab>
        <FluentTab Label="DataSource">
            <DataSourceOptionsUI Content="@Content"
                                 ReadOnly="@ReadOnly"
                                 Height="@height"
                                 Width="@Width"
                                 ViewStyle="UIViewStyle.DataGrid" />
        </FluentTab>
    </FluentTabs>
}
@if (viewStyle == UIViewStyle.Grid)
{
    <FluentStack Orientation="Orientation.Vertical" Width="@Width">
        <FluentLabel Typo="Typography.Subject">
            <span class="note-span">NOTE: </span> Not all settings are displayed.
        </FluentLabel>

        <FluentTabs>
            <FluentTab Label="Layer">
                <FluentGrid>
                    <FluentGridItem>
                        <UIText Model="@options.Intensity" ReadOnly="@ReadOnly" FieldType="TextFieldType.Number" />
                    </FluentGridItem>

                    <FluentGridItem>
                        <UIText Model="@options.Opacity" ReadOnly="@ReadOnly" FieldType="TextFieldType.Number" />
                    </FluentGridItem>

                    <FluentGridItem>
                        <UIText Model="@options.Radius" ReadOnly="@ReadOnly" FieldType="TextFieldType.Number" />
                    </FluentGridItem>

                    <FluentGridItem>
                        <UIText Model="@options.Weight" ReadOnly="@ReadOnly" FieldType="TextFieldType.Number" />
                    </FluentGridItem>
                </FluentGrid>
            </FluentTab>
            <FluentTab Label="DataSource">
                <DataSourceOptionsUI Content="@Content" ReadOnly="@ReadOnly" ViewStyle="UIViewStyle.Grid" />
            </FluentTab>
        </FluentTabs>

    </FluentStack>
}

<style>
    .note-span {
        font-weight: 500;
    }
</style>

@code {
    private HeatMapLayerOptionsUIModel options => Content.Options;
    private UIViewStyle viewStyle => Dialog != null ? Content.ViewStyle : ViewStyle;
    private string height => string.IsNullOrWhiteSpace(Height) ? "100%" : Height;
    private string width => string.IsNullOrWhiteSpace(Width) ? "100%" : Width;
    private string divValuesStyle => $"height:{height};width:{width};overflow-y:auto";

    [Parameter, EditorRequired]
    public HeatMapLayerUIModel Content { get; set; }

    [CascadingParameter]
    public FluentDialog? Dialog { get; set; }

    [Parameter]
    public string? Height { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; }

    [Parameter]
    public UIViewStyle ViewStyle { get; set; }

    [Parameter]
    public string? Width { get; set; }
}
