@implements IDialogContentComponent<SymbolLayerUIModel>

@if (viewStyle == UIViewStyle.DataGrid)
{
    <FluentTabs>
        <FluentTab Label="Layer">
            <div style="@divValuesStyle">
                <FluentTabs>
                    <FluentTab Label="General">
                        <UIValuesGrid Items="@Content.ToUIList()" />
                    </FluentTab>
                    <FluentTab Label="Icon">
                        <UIValuesGrid Items="@options.IconOptionsUI.ToUIList()" />
                    </FluentTab>
                    <FluentTab Label="Text">
                        <UIValuesGrid Items="@options.TextOptionsUI.ToUIList()" />
                    </FluentTab>
                </FluentTabs>
            </div>
        </FluentTab>
        <FluentTab Label="DataSource">
            <DataSourceOptionsUI Content="@Content"
                                 ReadOnly="@ReadOnly"
                                 Height="@height"
                                 Width="@Width"
                                 ViewStyle="UIViewStyle.DataGrid" />
        </FluentTab>
    </FluentTabs>
}
@if (viewStyle == UIViewStyle.Grid)
{
    <FluentStack Orientation="Orientation.Vertical" Width="@Width">
        <FluentLabel Typo="Typography.Subject">
            <span class="note-span">NOTE: </span> Not all settings are displayed.
        </FluentLabel>

        <FluentTabs>
            <FluentTab Label="Layer">
                <FluentTabs>
                    <FluentTab Label="General">
                        <FluentGrid>
                            <FluentGridItem>
                                <UIText Model="@Content.Before" ReadOnly="@ReadOnly" />
                            </FluentGridItem>

                            <FluentGridItem>
                                <UIText Model="@options.LineSpacing" ReadOnly="@ReadOnly" FieldType="TextFieldType.Number" />
                            </FluentGridItem>

                            <FluentGridItem>
                                <UISelect Model="@options.Placement" Items="@placements" ReadOnly="@ReadOnly" />
                            </FluentGridItem>

                            <FluentGridItem>
                                <UIText Model="@options.SortKey" ReadOnly="@ReadOnly" FieldType="TextFieldType.Number" />
                            </FluentGridItem>

                            <FluentGridItem>
                                <UISelect Model="@options.ZOrder" Items="@zOrders" ReadOnly="@ReadOnly" />
                            </FluentGridItem>
                        </FluentGrid>
                    </FluentTab>

                    <FluentTab Label="Icon">
						<IconOptionsUI Content="@options.IconOptionsUI" ReadOnly="@ReadOnly" ViewStyle="UIViewStyle.Grid" />
                    </FluentTab>

                    <FluentTab Label="Text">
                        <TextOptionsUI Content="@options.TextOptionsUI" ReadOnly="@ReadOnly" ViewStyle="UIViewStyle.Grid" />
                    </FluentTab>
                </FluentTabs>
            </FluentTab>
            <FluentTab Label="DataSource">
                <DataSourceOptionsUI Content="@Content" ReadOnly="@ReadOnly" ViewStyle="UIViewStyle.Grid" />
            </FluentTab>
        </FluentTabs>

    </FluentStack>
}

<style>
    .note-span {
        font-weight: 500;
    }
</style>

@code {
    private List<Option<string>> placements = UIExtensions.GetEnumLookup<SymbolLayerPlacement>(true);
    private List<Option<string>> zOrders = UIExtensions.GetEnumLookup<SymbolLayerZOrder>(true);
    private SymbolLayerOptionsUIModel options => Content.Options;
    private UIViewStyle viewStyle => Dialog != null ? Content.ViewStyle : ViewStyle;
    private string height => string.IsNullOrWhiteSpace(Height) ? "100%" : Height;
    private string width => string.IsNullOrWhiteSpace(Width) ? "100%" : Width;
    private string divValuesStyle => $"height:{height};width:{width};overflow-y:auto";

    [Parameter, EditorRequired]
    public SymbolLayerUIModel Content { get; set; }

    [CascadingParameter]
    public FluentDialog? Dialog { get; set; }

    [Parameter]
    public string? Height { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; }

    [Parameter]
    public UIViewStyle ViewStyle { get; set; }

    [Parameter]
    public string? Width { get; set; }
}
