@page "/map-events"
@using Marqdouj.DotNet.Web.Components.Css
@rendermode InteractiveServer
@inject ILogger<MapEvents> Logger
@inject IToastService ToastService
@inject IDataService DataService

<FluentLayout>
    <MapPageHeader Header="Map Events" HRefCode="@hRefCode">
        <FluentLabel>
            This page demonstrates adding/removing events dynamically.
            <br />
            When the style control events are active, you will receive a StyleSelected event when you change the style in the control.
            <br />
            When the layer events are active, you will see a Click event toast when you click on a symbol that is part of the layer,
            and a LayerRemoved event toast when you remove the layer.
            <br />
            The MouseEnter and MouseLeave events will be logged to the Console.
            <br />
            When you move the shapes (Move Shapes button) the ShapeChanged events will be logged to the Console.
            <br />
            An HtmlMarker with Popup will be added to the map, in the middle of Lake Washington, when you add the layer. Click on the marker to see the popup.
        </FluentLabel>
    </MapPageHeader>

    <FluentToolbar>
        <FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.ArrowReset())" Title="Reset Map" OnClick="@ResetMap" />
        <FluentSpacer Width="8" />
        <FluentCheckbox Disabled="@disabled" @bind-Value:get="@styleControl.Loaded" @bind-Value:set="OnStyleControlCheckedChanged">Style Control</FluentCheckbox>
        <FluentCheckbox Disabled="@disableStyleEvents" @bind-Value:get="@addStyleControlEvents" @bind-Value:set="OnStyleEventsCheckedChanged">Style Events</FluentCheckbox>
        <FluentSpacer Width="8" />
        <FluentCheckbox Disabled="@disabled" @bind-Value:get="@layerDefLoaded" @bind-Value:set="OnLayerCheckedChanged">Symbol Layer</FluentCheckbox>
        <FluentCheckbox Disabled="@disableLayerEvents" @bind-Value:get="@addLayerEvents" @bind-Value:set="OnLayerEventsCheckedChanged">Symbol Layer Events</FluentCheckbox>
        <FluentButton Disabled="@disableLayerEvents" IconStart="@(new Icons.Regular.Size20.ArrowMove())" Title="Move Shapes" OnClick="@MoveShapes" />
    </FluentToolbar>

    <AzureMap OnMapReady="@OnMapReady"
              OnMapEventLayer="OnMapEventLayer"
              OnMapEventShape="OnMapEventShape"
              OnMapEventStyle="OnMapEventStyle"
              Options="@MapHelpers.GetDefaultCreateMapOptions()" />
</FluentLayout>

<FluentOverlay @bind-Visible="@overlay"
               Transparent="false">
    <FluentProgressRing />
</FluentOverlay>

@code {
    private IAzureMapContainer? mapContainer;
    private readonly string hRefCode = HRefCodeSource.Sandbox.CodeUrl("MapEvents.razor");
    private bool overlay;
    private bool disabled => overlay || mapContainer == null;
    private bool disableStyleEvents => disabled || !styleControl.Loaded;
    private MapControlViewModel styleControl = new MapControlViewModel(MapHelpers.GetDefaultControl(MapControlType.Style));
    private List<MapEventDef> styleEvents = new List<MapEventDef> { new MapEventDef(MapEventType.StyleSelected, MapEventTarget.StyleControl) };
    private bool addStyleControlEvents;
    private MapLayerDef? layerDef;
    private List<MapFeatureDef>? mapFeatures;
    private List<HtmlMarkerDef>? htmlMarkers;
    private bool layerDefLoaded => layerDef != null;
    private bool disableLayerEvents => disabled || layerDef == null;
    private bool addLayerEvents;

    protected override void OnInitialized()
    {
        styleEvents.First().TargetId = styleControl.Control.InteropId;
    }

    private async Task OnMapReady(IAzureMapContainer mapContainer)
    {
        try
        {
            await Task.CompletedTask;
            this.mapContainer = mapContainer;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private async Task OnMapEventShape(MapEventShapeArgs e)
    {
        try
        {
            await Task.CompletedTask;
            Logger.LogInformation($"OnMapEventShape: Event={e.Type} Id={e.Payload?.Id}");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private async Task OnMapEventStyle(MapEventStyleArgs e)
    {
        try
        {
            await Task.CompletedTask;
            ToastService.Info($"OnMapEventStyle: Event={e.Type} Style={e.Payload?.Style}");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private async Task OnMapEventLayer(MapEventLayerArgs e)
    {
        try
        {
            await Task.CompletedTask;

            var msg = $"OnMapEventLayer: Event={e.Type} Id={e.Payload?.Id}";

            switch (e.Type)
            {
                case MapEventType.MouseEnter:
                    var shapes = string.Join(",", e.Payload?.Mouse?.Shapes?.Select(s => s.Type) ?? []);
                    msg = $"{msg} Position={e.Payload?.Mouse?.Position} ShapeCount:{e.Payload?.Mouse?.Shapes?.Count} Shapes:{shapes}";
                    Logger.LogInformation(msg);
                    break;
                case MapEventType.MouseLeave:
                    Logger.LogInformation(msg);
                    break;
                default:
                    ToastService.Info(msg);
                    break;
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private async Task ResetMap()
    {
        try
        {
            if (mapContainer == null) return;

            await RemoveLayer();

            await mapContainer.Maps.RemoveControls(new List<MapControl> {styleControl.Control});
            styleControl.Loaded = false;
            addStyleControlEvents = false;

            await mapContainer.Configuration.SetMapOptions(MapHelpers.GetDefaultSetMapOptions());
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private async Task OnStyleControlCheckedChanged(bool value)
    {
        if (value)
        {
            await mapContainer!.Maps.AddControls(new List<MapControl> { styleControl.Control });
            styleControl.Loaded = true;
        }
        else
        {
            await mapContainer!.Maps.RemoveControls(new List<MapControl> { styleControl.Control });
            styleControl.Loaded = false;
            addStyleControlEvents = false;
        }
    }

    private async Task OnStyleEventsCheckedChanged(bool value)
    {
        if (styleControl.IsNotLoaded)
        {
            addStyleControlEvents = false;
            return;
        }

        if (value)
        {
            await mapContainer!.Maps.AddEvents(styleEvents);
            addStyleControlEvents = true;
        }
        else
        {
            await mapContainer!.Maps.RemoveEvents(styleEvents);
            addStyleControlEvents = false;
        }
    }

    private async Task OnLayerCheckedChanged(bool value)
    {
        if (mapContainer == null)
            return;

        if (value)
        {
            await RemoveLayer();

            layerDef = await mapContainer.AddBasicMapLayer(DataService, MapLayerType.Symbol);
            mapFeatures = await DataService.GetDefaultSymbolLayerFeatures();

            htmlMarkers = new()
            {
                new HtmlMarkerDef(){Options = new(){
                    Color = HtmlColorName.Crimson.ToString(),
                    Text = "?",
                    Position = new(-122.25561843457605, 47.61125650358747),
                    Popup = new PopupDef(){ Options = new()
                        { 
                            Content = "<div style=\"padding:10px\">Hi from my HtmlMarker Popup!</div>",
                            PixelOffset = new (0, 30)
                        },
                    }},
                    TogglePopupOnClick = true
                }
            };

            await mapContainer.Maps.AddMarkers(htmlMarkers);
            ToastService.Info($"{MapLayerType.Symbol} layer was added to the map.");
        }
        else
        {
            await RemoveLayer();
        }
    }

    private async Task OnLayerEventsCheckedChanged(bool value)
    {
        if (!layerDefLoaded)
        {
            addLayerEvents = false;
            return;
        }

        if (value)
        {

            await mapContainer!.Maps.AddEvents(BuildLayerEvents(layerDef));
            await mapContainer!.Maps.AddEvents(BuildShapeEvents(layerDef));
            addLayerEvents = true;
        }
        else
        {
            await mapContainer!.Maps.RemoveEvents(BuildLayerEvents(layerDef));
            await mapContainer!.Maps.RemoveEvents(BuildShapeEvents(layerDef));
            addLayerEvents = false;
        }
    }

    private async Task MoveShapes()
    {
        if (!layerDefLoaded || mapFeatures == null)
            return;

        foreach (var feature in mapFeatures)
        {
            var pt = (Point)feature.Geometry;
            pt.Coordinates = new Position(pt.Coordinates.Longitude - 0.00123, pt.Coordinates.Latitude);
        }

        await mapContainer!.Layers.UpdateMapFeatures(mapFeatures, layerDef!.DataSource.Id);

    }

    private async Task RemoveLayer()
    {
        if (mapContainer == null)
            return;

        if (layerDef != null)
        {
            await mapContainer.Layers.RemoveLayer(layerDef);
            layerDef = null;
            mapFeatures = null;
            addLayerEvents = false;
        }

        if (htmlMarkers != null)
        {
            await mapContainer.Maps.RemoveMarkers(htmlMarkers);
            htmlMarkers = null;
        }
    }

    private List<MapEventDef> BuildLayerEvents(MapLayerDef? layerDef)
    {
        var events = new List<MapEventDef>
        {
            new MapEventDef(MapEventType.LayerRemoved, MapEventTarget.Layer){TargetId = layerDef?.Id},
            new MapEventDef(MapEventType.Click, MapEventTarget.Layer){TargetId = layerDef?.Id},
            new MapEventDef(MapEventType.MouseEnter, MapEventTarget.Layer){TargetId = layerDef?.Id},
            new MapEventDef(MapEventType.MouseLeave, MapEventTarget.Layer){TargetId = layerDef?.Id},
        };

        return events;
    }

    private List<MapEventDef> BuildShapeEvents(MapLayerDef? layerDef)
    {
        List<MapEventDef> events = (mapFeatures ?? [])
            .Select(shape => new MapEventDef(MapEventType.ShapeChanged, MapEventTarget.Shape) { TargetId = shape.Id, TargetSourceId = layerDef!.DataSource.Id }).ToList();

        return events;
    }
}
