@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="map-basic" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Basic</FluentNavLink>
            <FluentNavLink Href="map-controls" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Controls</FluentNavLink>
            <FluentNavLink Href="map-custom" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Custom</FluentNavLink>
            <FluentNavGroup Title="Demos">
                <FluentNavLink Href="map-demos-pizza-delivery" Icon="@(new Icons.Regular.Size20.FoodPizza())" IconColor="Color.Accent">Pizza Delivery</FluentNavLink>
            </FluentNavGroup>
            <FluentNavGroup Title="Events" Icon="@(new Icons.Regular.Size20.GroupList())">
                <FluentNavLink Href="map-events-controls" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Controls</FluentNavLink>
                <FluentNavLink Href="map-events-layer" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Layer</FluentNavLink>
                <FluentNavLink Href="map-events-map" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Map</FluentNavLink>
                <FluentNavLink Href="map-events-markers" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Markers</FluentNavLink>
            </FluentNavGroup>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
